<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177725354636-m5dq3eu1qnuqia17lhsaffq55ce9rpvf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177725354636-m5dq3eu1qnuqia17lhsaffq55ce9rpvf</string>
	<key>API_KEY</key>
	<string>AIzaSyBc_onoUvly-pxCMpiWeTPSCGQq9APZp9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>177725354636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moshahdaApp</string>
	<key>PROJECT_ID</key>
	<string>moshahda</string>
	<key>STORAGE_BUCKET</key>
	<string>moshahda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177725354636:ios:06c91ffc17aef3cb5a81a9</string>
</dict>
</plist>